.icon-search-story {


    .search-panel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 1rem;

        input {
            width: 60vw;
        }

        .muncher-button {
            margin: .5rem;
        }
    }

    .icon-group {

        .muncher-button {
            margin: .8rem;
        }

        .group-title {
            text-transform: capitalize;
            text-align: center;
            font-size: .9rem;
        }

    }
}
