:root {
    --badge-color: var(--primary-color);
    --badge-background-color: var(--secondary-background-color);
    --badge-primary-background-color: var(--primary-color);
    --badge-secondary-background-color: var(--secondary-background-color);
    --badge-danger-background-color: var(--danger-color);
    --badge-tertiary-background-color: var(--tertiary-background-color);
}

.muncher-badge {
    color: var(--badge-color);
    background: var(--badge-background-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.muncher-badge--primary {
    color: var(--badge-background-color);
    background: var(--badge-primary-background-color);
}

.muncher-badge--secondary {
    background: var(--badge-secondary-background-color);
}
.muncher-badge--danger {
    color: var(--badge-background-color);
    background: var(--badge-danger-background-color);
}

.muncher-badge--transparent {
    background: none;
}

.muncher-badge--tertiary {
    background: var(--badge-tertiary-background-color);
}
