.muncher-ul {
    list-style: none;
    padding-left: .5rem;

    .muncher-li {
        letter-spacing: .03rem;
        line-height: 1.5rem;
    }

    .featured {
        font-weight: bold;
    }

    .muncher-icon {
        display: flex;
        align-items: flex-start;

        svg {
            flex-shrink: 0;
            width: 16px;
            height: 16px;
        }

        .content-right {
            padding-left: .5rem;
        }
    }
}
