:root {
    --pill-color: var(--primary-color);
}

.muncher-pill {
    color: var(--pill-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .close {
        padding: .2rem;
        display: inline-block;
        cursor: pointer;
    }

    .close:hover, .close:active {
        opacity: .6;
    }

    .content {
        display: inline-block;
        margin-right: .5rem;
        font-weight: bold;
    }
}
