.muncher-hr {
    border: none;
    border-bottom: 1px solid var(--primary-color); /* fallback default */
    width: 100%;
}

/* --- Styles --- */
.muncher-hr--solid {
    border-bottom-style: solid;
}

.muncher-hr--dotted {
    border-bottom-style: dotted;
}

.muncher-hr--dashed {
    border-bottom-style: dashed;
}

/* --- Variants --- */
.muncher-hr--primary {
    border-bottom-color: var(--primary-color);
}

.muncher-hr--secondary {
    border-bottom-color: var(--secondary-background-color);
}

.muncher-hr--tertiary {
    border-bottom-color: var(--tertiary-background-color);
}

/* --- Sizes --- */
.muncher-hr--small {
    border-bottom-width: 1px;
    margin: 0.5rem 0;
}

.muncher-hr--medium {
    border-bottom-width: 2px;
    margin: 1rem 0;
}

.muncher-hr--large {
    border-bottom-width: 4px;
    margin: 1.5rem 0;
}
