.muncher-card {
    width: 25rem;
    height: 15rem;
    background: var(--primary-background-color);
    color: var(--primary-color);
    border: .2rem solid var(--primary-background-color);
    border-radius: 1rem;
    box-shadow: 0 .5rem 12px rgba(0, 0, 0, 0.08);
    position: relative;
    margin: 1rem;
}


