.muncher-flippable-card {
    perspective: 62.5rem;
    width: 100%;
    max-width: 25rem;
    height: 15rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    margin: auto;

    .muncher-flippable-card-face {
        background: var(--primary-background-color);
        color: var(--primary-color);
        border: .2rem solid var(--primary-background-color);
        border-radius: 1rem;
        box-shadow: 0 .5rem 12px rgba(0, 0, 0, 0.08);
        backface-visibility: hidden;
        position: absolute;
        transition: transform 0.5s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}


.muncher-flippable-card .back {
    transform: rotateY(180deg);
}

.muncher-flippable-card.flipped .front {
    transform: rotateY(180deg);
}

.muncher-flippable-card.flipped .back {
    transform: rotateY(360deg);
}

